<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container clearfix">
    <div class="col-secondary">
        <header class="site-header">
            <a href="/" class="site-logo">log</a>
            <h1 class="site-name"><a href="/">{{title}}</a></h1>
            <p class="site-bio">{{description}}</p>
        </header>
        <nav>
            <ul class="site-nav">
                <li><a href="">about</a></li>
                <li><a href="/archives.html">archives</a></li>
                <li><a href="/feeds.xml">rss feed</a></li>
            </ul>
        </nav>
    </div><!-- /.layout-secondary -->